body {
    display: flex;
    justify-content: space-evenly;
}

/* banner styles */
#banner {
    background: url(assets/background.jpg) top left/cover no-repeat;
    height: 100vh;
    flex: 1;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#banner header {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: min(3vw, 2.2rem);
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    margin: 7rem 0;
    padding: 1rem; 
}

#banner svg { 
    width: min(7vw, 5rem); 
    height: auto;
}

#banner header h1 { 
    font-family: "Fjalla One", serif;
    margin: 0;
}

#banner a { color: white; }

#banner footer {
    font-size: 0.6rem;
    text-align: center;
    margin: 1rem;
}

/* form styles */
article {
    width: 100%;
}

#sign-up {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: whitesmoke;
}

#sign-up header {
    width: 80%;
    margin: 2rem;
    font-size: 0.6rem;
}

form {
    width: 100%;
}

fieldset {
    margin: 0;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    background: white;
    border: none;
    /* add box shadow */
}

legend {
    float: left;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

fieldset > div {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    column-gap: 5rem;
}

fieldset p {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

label {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
    color: rgb(48, 48, 48);
}

input {
    border: 1px solid #e5e7eb;
    padding: 0.3rem 0.5rem;
    font-size: 0.8rem;
    width: 14rem;
}

form button {
    margin: 1.8rem 2rem;
    padding: 0.7rem 2.3rem;
    border-radius: 0.6rem;
    border: none;
    background-color: #596D48;
    font-weight: 600;
    color: whitesmoke;
    /* add box shadow */
}

footer {
    margin: 0 2rem;
}

#sign-up a {
    color: #596D48;
}

/* media queries */
@media only screen and (max-width: 768px) { /* xs: <600px */
    /* general styles */
    body { flex-direction: column; }

    /* banner styles */
    #banner { flex-basis: 70vh; }
    #banner header { 
        font-size: 2rem; 
        margin: 4rem 0;
        background: none; 
    }
    #banner svg { width: 4.4rem; }

    /* form styles */
    #sign-up { padding-bottom: 2rem; }
    fieldset { padding: 2rem 2rem; }
}

@media only screen and (min-width: 768px) { /* m */ 

}

@media only screen and (min-width: 992px) and (max-width: 1200px) { /* l */

}
